/* Style */

body, html{
	margin: 0;
	padding: 0;
	font-weight: 300;
}

#headPicture {
	width: 100%;
	height: 450px;
	background: url("/en/faqs/apps/infocenter../../resources/images/bg.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	top:0;
	position: fixed;
    z-index:-10;
}

#hero{
	width: 100%;
	height: 170px;
	display: table;
}

#hero h1, #hero p{
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 3.5em;
	font-weight: 200;
}

.contentWrapper{
	max-width: 980px;
	margin: auto;
}

#overall {
	clear: both;		
}

#contentContainer{
	display: table;	
	width:100%;
}

.Column {
	padding:2em 2em 3em;
	display: table-cell;
}

.Column h3{	
	font-weight: 300;		
	margin: 0;	
	font-size: 25px;		
	text-align: left;		
	color: black;
}		
		
.Column h4{				
	font-weight: 300;		
	margin-top: 2em;	
	font-size: 16px;	
}		
		
.Column ul{		
 	list-style: none;		
	margin: 0;		
	padding: 0;
}		
		
.leftColumn{
	background-color: #e7e6e6;	
	width: 25%;	
}		
		
.leftColumn li{		
	padding: 0;	
	margin: 0.7em 0 0;
}		

.leftColumn li a{
	color: #9fa0a4;
	font-size: 16px;
	text-decoration: none;	
}

.leftColumn li a:hover{
	color: black;
}

.leftColumn a{
	color: #9fa0a4;
	font-size: 16px;
	text-decoration: none;	
}

.leftColumn a:hover{
	color: black;
}
		
.rightColumn{		
	background-color: white;
	float: none;		
	overflow: hidden;
	width: 75%;			
}		

.detailColumn {
	background-color: white;
	float: none;		
	overflow: hidden;
	width: 100%;
}
		
#locale_selection_div{		
	position: absolute;
	left: 0px;
	top: 115px;
	background-color: rgb(61, 205, 88);		
	color: white;
	width:100%
}		

#locale_selection_div ul{
		padding-left: 5%;
}	
		
#locale_selection_div li{		
	display: inline-block;		
	width: 24%;		
	vertical-align: middle;		
	margin-bottom: 0.7em;
}	
#locale_selection_div li input[type=checkbox]{			
	margin: 0.3em;
}	
		
.formQuestion{
	height: 115px;
	margin: 2em 0;
}		

.im-question-box{
	position: relative;
}

.im-question-box .title, .im-question-box .buttonBox, .im-question-box .searchBox{
	float: left;
	text-align: center;
	height: 115px;
	display: table;
	background-color: #3dcd58;
}

.im-question-box .title, .im-question-box .buttonBox{
	width: 25%;
}		

.im-question-box .searchBox{		
	width: 50%;
}	

.wrapper{
	display: table-cell;
	vertical-align: middle;
}

.footer-container .wrapper{
	display: block;
}

.searchBox input{		
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	font-size: 18px;
	padding: 0 0.5em;
	border: none;
}		

.searchBox a{		
	width: 100%;
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-align: left;	
	display: inline-block;
	margin-top: 0.5em;
}		

.buttonBox button{		
	width: 50%;
	height: 40px;
	background-color: #42b4e6;
	border: none;
	color: white;
	font-size: 17px;
	font-weight: bold;
}		

.buttonBox a{		
	width: 100%;
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-align: center;	
	display: inline-block;
	margin-top: 0.5em;
}			

.formQuestion h3{
	margin: 0;
	color: white;
	font-weight: 200;
	font-size: 25px;
	margin-top: 0;
}
.formQuestion .icone-search {
		display: none;
}
		
.centercolumn .node h4,
.leftcentercolumn .node h4 {
	margin-bottom: 5px;
	font-size: 100%;
}

.im-last-facet, .im-first, .im-firstlast, .question-box-border {
	border:none;
}

.results .result a {
	font-weight: bold;
}

.result{
	margin-bottom: 3em;
}

.errorMessage{
	color: black;
	font-size: 16px;
	text-decoration: none;	
}

.im-standard-subject{
	font-size: 20px;
	color: #3dcd58;
	font-weight: 200;
	text-decoration: none;
}

.im-result-excerpt-block{
	font-size: 14px;
	color: black;
	margin: 1em 0;
}

.im-result-excerpt-block .snippetClass3{
	font-weight: bold;
}

.qna-answer-facet-block{
	font-size: 13px;
	color: black;
}

.qna-answer-facet-block a{
	text-decoration: none;
	color: #3dcd58;
}

.pagination-bar {
    background-color: #e7e6e6;
    clear: both;
    color: black;
    font-size: 1.1em;
    font-weight: 100;
    padding: 1em;
	margin-bottom:1em;
	overflow:hidden;
}

.pagination-bar ul {
    display: inline-block;
    float:right;
}
.pagination-bar ul > li {
    display: inline-block;
    margin: 0 0.2em;
}

/* Detail Specific */
.detail .leftColumn{
	/*background-color: white;*/
}

.detail .leftColumn .back{
	text-decoration: none;
	color: #42b4e6;
	font-size: 15px;
	font-weight: bold;
	padding-left: 15px;
	position: relative;
}

.detail .leftColumn .back:before{
	content: "";
	position: absolute;
	width: 15px;
	height: 100%;
	background: url(/en/faqs/apps/infocenter../../resources/images/arrow-E.png) no-repeat center center;
	margin-right: 0.5em;
	left: 0;
	bottom: 0;
}

.detail .infoTech{
	margin-top: 3em;
}

.detail .infoTech p{
	margin: 0.5em 0 0 0;
	font-size: 13px;
}

.detail .infoTech li{
	color: #3dcd58;
	margin: 0;
	margin-left: 0;
	font-size: 13px;
}

.detail .im-content-title{
	font-size: 24px;
	font-weight: 200;
	margin: 0 0 1em 0;
}

.detail .tools{
	width: 100%;
	text-align: right;
	margin-bottom: 1em;
}

.detail .tools a{
	text-decoration: none;
	color: #42b4e6;
	font-size: 15px;
	margin-right: 2em;
	font-weight: bold;
	padding-left: 15px;
	position: relative;
}

.detail .tools a:before{
	content: "";
	position: absolute;
	width: 16px;
	height: 100%;
	background: url(/en/faqs/apps/infocenter../../resources/images/arrow-E.png) no-repeat center center;
	margin-right: 0.5em;
	left: 0;
	bottom: 0;
}

.detail .ATTACHMENTS {
	padding-bottom:1em;
}

.detail .ANSWER{
	padding-bottom:1em;
}

.detail .ANSWER h3{
	font-size: 22px;
	font-weight: 200;
	margin-bottom: 0.5em;
}

.detail .ANSWER .content{
	font-size: 14px;
	color: black;
	line-height: 1.4em;
}


.detail .ANSWER .content ul li{list-style-type: circle;}
.detail .ANSWER .content ul ul li{list-style-type: disc;}
.detail .ANSWER .content ul ul ul li{list-style-type: square;}
	
.detail .ANSWER .content ol li{list-style-type: upper-roman;}
.detail .ANSWER .content ol ol li{list-style-type: upper-latin;}
.detail .ANSWER .content ol ol ol li{list-style-type: lower-roman;}	
.detail .ANSWER .content ol ol ol ol li{list-style-type: lower-latin;}	

.detail .ANSWER .content a {
    text-decoration: underline;
    color:blue;
}

.detail #ratingDivAll{
	background-color: #f1f1f1;
	padding: 1em;
	margin-top: 2em;
}

#ratingDivAll h3{ 
	font-size: 22px;
	font-weight: 200;
}

#ratingDivAll .im-rating-title{
	font-size: 16px;
	color: #9fa0a4;	
	margin: 1em 0 0.5em;
	display: inline-block;
	font-weight: bold;
}

#ratingDivAll textarea, #ratingDivAll input{
	box-sizing: border-box; 
	width: 100%;
	border: none;
	padding: 1em;
}

#ratingDivAll .textWidget textarea{
   resize: vertical;
}

#ratingDivAll .mailWidget{
	margin-top: 1em;
}

#ratingDivAll .rating-list-item-answer .hidden-input {
	display:none;
}

.starWrapper{
	width: 100%;
	height: 45px;
}
	
.starWidget { 
	margin: 0;
  border: none;
	padding: 0;
	float: left;
}

.starWidget > input { display: none; } 
.starWidget > label:before { 
  margin: 5px;
  font-size: 25px;
  display: inline-block;
  content: "\2605";
}

.starWidget > label { 
  color: #c1c1c1; 
 float: right; 
}

.detail .rateButton{
	width: 100%;
	text-align: right;
}

#ratingDivAll button{	
	padding: 0 2em;	
	height: 40px;
	background-color: #42b4e6;
	border: none;
	color: white;
	font-size: 17px;
	margin-top: 1em;
	font-weight: bold;
}	

#ratingDivAll .buttonyes{
	background-color: #3DCD58;
}

#ratingDivAll .buttonno{
	background-color: #B10043;
}

.captchaWidget{
	margin-top: 1em;
}

.captchaWidget div {
	display: block;
	float: left;
	width: 50%;
}

.captchaWidget .input{
	width: 50%;
}

.captchaWidget div:first-of-type{
	text-align: right;
}

.captchaReplaceByImg{
	margin-right: 1em;
}

.captchaWidget input{
	width: 100%;
	margin: 0;
	border: none;
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

.noDisplay
{
	display:none;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.starWidget > input:checked ~ label, /* show gold star when clicked */
.starWidget:not(:checked) > label:hover, /* hover current star */
.starWidget:not(:checked) > label:hover ~ label { color: #3dcd58;  } /* hover previous stars in list */

.starWidget > input:checked + label:hover, /* hover current star when changing rating */
.starWidget > input:checked ~ label:hover,
.starWidget > label:hover ~ input:checked ~ label, /* lighten current selection */
.starWidget > input:checked ~ label:hover ~ label { color: #3dcd58;  } 

#dispatch .footer-container{
		display:block
	}


			
@media screen and (max-width: 760px) {
	
	#hero{
		height: 65px;
	}
	
	#answers_body #hero ,#content_body #hero{
		height: 40px;
	}
	
	#hero h1, #hero p{
		vertical-align: bottom;
		text-align: left;
		font-size: 20px;
		padding:0 0 1em 1em;
	}
	
	#answers_body #hero h1 ,#content_body #hero h1 ,#answers_body #hero p ,#content_body #hero p{
		padding:0 0 0 1em;
	}
	
	#headPicture {
	height: 150px;
}
	
	.contentWrapper{
		width: 100%;
	}
	
	.im-question-box .title, .im-question-box .buttonBox, .im-question-box .searchBox{
		width: 100%;
		height: auto;
		float: none;
	}
	
	.formQuestion{
		height: auto;
		margin:0;
	}
	
	.formQuestion h3{
		display: inline-block;
		margin: 1em 0 0 0;
	}
	
	.formQuestion .icone-search {
		display: inline-block;
		width : 40px;
		height: 20px;
		border : none;
        color : transparent;
        margin-left: -40px
        
	}
	.formQuestion .im-question-box .title {
		display:none;
	}
	
	.formQuestion .im-question-box .buttonBox .wrapper {
		display:none;
	}
	
	.searchBox{
		padding: 1em 0;
	}
	
	.searchBox input{	
		width: 90%;
	}
	
	.searchBox a{	
		text-align: center
	}
	
	#locale_selection_div{
		position: relative;
		top: 0;
		left: 0;
		padding: 1em;
	}
	
	#locale_selection_div ul{
		margin: 0;
	}
	
	#locale_selection_div li{
		width: 49%;
	}
	
	.im-question-box .buttonBox{
		background-color: #3dcd58;
		padding: 2em 0;
	}
	
	.buttonBox button{	
		padding: 0 2em;	
		width: auto;
	}
	
	.buttonBox a{
		color: black;
	}
	
	#contentContainer{
		margin: auto !important;
		width: 90%;
	}
	
	#contentContainer .Column {
		display: block;
		width: 100%;
		margin: auto;
		box-sizing: border-box;
		padding: 2em 1.2em 1em;
	}	
	
	.leftColumn{		
		text-align: center;	
	}		
	
	.leftColumn h3{
		text-align: center;
	}	
	
	.leftColumn h3{
		background: url(/en/faqs/apps/infocenter../../resources/images/arrow-S.png) no-repeat 90% 50%;
	}
	
	.leftColumn h3.toggle{
		background: url(/en/faqs/apps/infocenter../../resources/images/arrow-N.png) no-repeat 90% 50%;
	}
	
	.leftColumn h4{
		text-align: left;
		margin: 1em;
		position: relative;
	}	
	
	.leftColumn h4:after{
		position: absolute;
		content: "";
		background: url(/en/faqs/apps/infocenter../../resources/images/arrow-S.png) no-repeat center center;
		width: 16px;
		height: 100%;
		right: 0;
		color: #0c9a3a;
	}
			
	.leftColumn ul{		
		display: none;
		margin:0 !important;		
	}		
			
	.leftColumn li{		
		text-align: center;		
		width: 100%;		
	}		
	
	.detail .leftColumn{
		text-align: left;
		padding-bottom: 1em;
	}
	
	.detail .leftColumn li{
		text-align: left;
	}
	
	.detail .infoTech{
		margin-top: 1em;
	}
	
	.detail .infoTech ul{
		display: block;
	}
	
	.detail .im-content-title{
		margin: 0;
	}
	
	.detail .tools a{
		display: inline-block;
		width: 100%;
		text-align: left;
		margin-top: 1em;
	}
}