
@font-face{
font-family:"font-lig";
src: url("/resources/fonts/db92e416-da16-4ae2-a4c9-378dc24b7952.eot?#iefix");
src: url("/resources/fonts/db92e416-da16-4ae2-a4c9-378dc24b7952.eot?#iefix") format("eot"), url("/resources/fonts/b5eed192-75b7-4c2d-b1f2-cedcdd33bf77.woff2") format("woff2"), url("/resources/fonts/1e8445a9-4d99-4f0d-9d76-71c1599664c4.woff") format("woff"), url("/resources/fonts/bd95fc88-e7e6-4607-8152-2139d86803ee.ttf") format("truetype"), url("/resources/fonts/6288fb86-8c21-45e2-b845-d1c5c66b26d1.svg#6288fb86-8c21-45e2-b845-d1c5c66b26d1") format("svg");
}
@font-face{
font-family:"font-med";
src: url("/resources/fonts/6face8d9-7adc-4fb2-8ad5-13822eb622ac.eot?#iefix");
src: url("/resources/fonts/6face8d9-7adc-4fb2-8ad5-13822eb622ac.eot?#iefix") format("eot"), url("/resources/fonts/565f92fc-ce51-41eb-b3da-150821fdcbe9.woff2") format("woff2"), url("/resources/fonts/e6edcc05-ddda-47a2-9845-53ba6c2dcfc4.woff") format("woff"), url("/resources/fonts/2e4c6d3d-53d3-49e0-b55b-ed36671545e4.ttf") format("truetype"), url("/resources/fonts/51cc6783-a047-4e82-ac67-766daefcd833.svg#51cc6783-a047-4e82-ac67-766daefcd833") format("svg");
}
@font-face{
font-family:"font-bol";
src: url("/resources/fonts/636837b4-3147-45f2-b616-7b53b251258b.eot?#iefix");
src: url("/resources/fonts/636837b4-3147-45f2-b616-7b53b251258b.eot?#iefix") format("eot"), url("/resources/fonts/7cd5de2f-8fb1-427c-9f45-6149d4edf425.woff2") format("woff2"), url("/resources/fonts/62ca5e52-a23b-4365-b69a-9e06b00a8192.woff") format("woff"), url("/resources/fonts/09c37d12-f914-4b7f-b258-9f873abd140d.ttf") format("truetype"), url("/resources/fonts/0984933b-1331-49c4-8af8-cf215c6be707.svg#0984933b-1331-49c4-8af8-cf215c6be707") format("svg");
}

@font-face{
font-family:"font-ext";
src: url("/resources/fonts/bcdc4aeb-4a9d-426e-b588-b3099cdfc1df.eot?#iefix");
src: url("/resources/fonts/bcdc4aeb-4a9d-426e-b588-b3099cdfc1df.eot?#iefix") format("eot"), url("/resources/fonts/fecf8c54-3bcd-4855-973a-f4152f22b970.woff2") format("woff2"), url("/resources/fonts/4a3ed016-43b2-4982-ba02-efbd1d3a7658.woff") format("woff"), url("/resources/fonts/8883a906-113e-4118-b0f5-a0945c3b21b7.ttf") format("truetype"), url("/resources/fonts/d4925602-1deb-4b4d-a039-ca2625eede85.svg#d4925602-1deb-4b4d-a039-ca2625eede85") format("svg");
}
