* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse:collapse;
}


/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;

}

.wrap {
  max-width: 940px;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}

/* Paging */

.paging {
  margin: 2em 0;
  ul {
    display: inline;
    float:left;
    margin-right: 2em;
    li {
      display: inline;
      margin-right: 1em;
      &.disabled {
        a {
          color: #e7e6e6 !important;
          cursor:not-allowed;
        }
      }
    }
  }
}

/* Nav styling */

.footer-container.deployed > .container {
  min-height:none;
  padding:5px 0;
}




@media (min-width: 980px){
  #headerMenu {
    top: 10px;
    right:0;
    left:auto;
  }
}

.main {
  margin: 0 auto;
  overflow: hidden;
  margin-top: 40px;
}

input {
  &[type="text"],&[type="email"] {
    background: #fff none repeat scroll 0 0;
    color: inherit;
    display: inline;
    font: inherit;
    height: 30px;
    margin-right: 5px;
    padding: 0 15px;
    text-transform: none;
    width: 77%;
    border: medium none;
    vertical-align: top;
    border-radius:0;
  }
}

/* Homepage */



.search-form {
  background: $sgreen;
  padding: 30px;
  width:100%;
  bottom: 0;
  position: absolute;
  z-index: 100000;
  .button {
    font-size: 16px;
  }
  input {
    height:50px;
    width:100%;
    margin: 0;
  }
  label {
    color:white;
    font-family: $heading;
    font-size: 25px;
    margin:0;
    padding:0;
    line-height: 1;
  }
  .span3 {
    height:50px;
    text-align: center;
    display: table;
    label,button {
      display:table-cell;
      vertical-align:middle;
      margin: 0;
    }
  }
}

.topBackground {
  position: relative;
  .container {
    position: relative;
    height:100%;
  }
}

/* Tables */

.search-select {
  text-transform: uppercase;
}

.table-contain {
  table {
    margin-bottom: 0;
  }
}

/* Forms */

textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  height:35px;
  border: 1px solid #626469;
}
textarea {
  width:100%;
  height:130px;
}

.row-margin {
  margin-bottom: 2em;
}


/* FOOTER */

footer {
  .socialMenu {
    li {
    margin-left: 10px;

      a {
        span {
          background-image: url("/resources/img/social-sprite.png");
          background-size: 264px 33px;
          background-repeat: no-repeat;
          display: block;
          margin: 0;
          height: 33px;
          width: 33px;
          &.setv {
              background-position: -165px 0;
          }
          &.facebook {
            background-position: 0 0
          }
          &.twitter {
            background-position: -33px 0;
          }
          &.linkedin {
              background-position: -66px 0;
          }
          &.youtube {
              background-position: -132px 0;
          }
          &.blog {
              background-position: -198px 0;
          }
        }

      }
    } 
  }
}


/* Header */

.breadCrumb {
  ul {
    @media (max-width: 480px){
    display: block;
    }
  }
}

header {
  .navbar {
    &#headerMenu {
      .navbar-inner {
        li {

          &.active {
            &:after {
              content: "";
              border-bottom: 4px solid #fff;
              display: none;
              height: 55px;
              position: absolute;
              width: 100%;
              left: 0;
              bottom: -4px;
            }
            a {
              border-bottom: 0 !important;
              padding-bottom: 0 !important;
            }
          }
        }
      }
    }
    right:0;
  }
}

header {
  background: none;
  .tophat {
    .container {
    }
    ul {
      display: table;
      float:right;
      height: 30px;
      li {
        display: table-cell;
        vertical-align:middle;
        margin-bottom: 0;
        padding:0 8px;
        a,& {
          margin-bottom: 0;
          color:#626469;
        }
      }
    }
    background: #fafafa;
    color: #626469;
    font-size: 0.8em;

    a {
      font-weight: normal
    }
  }
  height:auto !important;
  .main-nav {
    height:64px;
    border-bottom: solid 4px $darkgreen;
    background: $sgreen;

  }
}

/* Content */
.content {
  margin:0 0 2em;
  padding:2em;
  @include viewport (md){
    padding:0;
  }
  &.main-content {
    background:white;
    padding:24px;
    @include viewport(sm){
      padding:50px;
    }
  }
}

/* Form Question */
.formQuestion {
    bottom: 0;
    margin: 0;
    background-color: #3dcd58;
    @media (max-width: 768px){
      padding:10px;
    }
    @include viewport(sm){
      margin-top: -115px;
      height: 115px;
    z-index: 10;
    }
    position: relative;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  h3 {
    margin: 0;
    color: white;
    font-weight: 200;
    font-size: 18px;
    margin-top: 0;
  }
}

.im-question-box {
  .searchBox {
    width: 50%;
  }
    .buttonBox {
    padding:10px;
    @include viewport(sm){
      padding:0 10px;
    }
    
  }

}

.searchBox input {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  padding: 0 0.5em;
  border: none;
  @include viewport(sm){
    font-size: 24px;
  }
}


.formQuestion .icone-search {
  display: none;
}


.im-question-box .title, .im-question-box .buttonBox {
  width: 25%;
}
.im-question-box .title, .im-question-box .buttonBox, .im-question-box .searchBox {
  @media (max-width: 768px){

    .wrapper {
      display: block !important;
    }
  width:90%;
  height:auto;
  margin:auto;
  display: block !important;
  text-align: center;
}
  
  @include viewport(md){
  float: left;
  text-align: center;
  height: 115px;
  display: table;
  }
}




@media (max-width: 768px){
.im-question-box {
    .title {
        padding:10px 0;
    }
    .buttonBox{
      width:40%;
      float:left;
      margin: 0;
      button{
        width:100%;
        padding: 0;
      }
    }
    .searchBox {
      width:60%;
      float:left;
    }
  }
  
}

/* Case View */
.case-number{
  background: #e7e6e6;
  padding:20px;
  h3 {
    padding: 0;
    margin: 0;
    color:$headers;
  }
}

.title-row {
  .status {
    margin-top: 2em;
    @include viewport(sm){
      margin-top: 0;
    }
    * {
      margin-bottom: 0;
      line-height: 1.2;
    }
    .action {
      line-height:3.4;
      }
    @include viewport(sm){
      text-align: right;
    }
    span {
      font-size: 12px;
    }
  }
}

.blue {
  color:$sblue;
}

.purchase-info {
  small {
    font-style: italic;
  }
  h4 {
    margin-bottom: 0;
  }
  .info-last {
    @include viewport(sm){
      text-align: right;
    }
    p {
      font-family: $heading;
    }
  }

}


.wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* Search Bar */

.search-bar > input {
  display: table-cell;
}

.search-bar .search-field {
  background: white;
  outline: none;
  font-family: inherit;
  padding: .4em .5em;
  width: 80%;
  max-width: auto;
  color: black;
  border-radius: 1px;
  border: 1px solid #626469;
  overflow: hidden;
  display: inline;
  float:left;
  margin: 0;

}

.form-align,.view-select, .search-case {
  div[class*="span"]{
    height:40px;
    display: table;
    p {
      display: table-cell;
      vertical-align:middle;
    }
  }
}
.search-case {
  .search-bar .search-field {
    height:35px;

  }
}

/* BUTTON */
button.search {
  background:none;
  border:0;
  color:#8e9799;
  width:10%;
  display: inline;
  float:left;
  padding: 0;
  font-size: 20px;
  margin-left: 5%;
}

.topBackground{
  &.white{
    legend {
      padding:50px 0;
    }
  }
  &.image.white{
    legend {
      padding:50px;
    }
  }
}

.pageHeaderTitle legend {
  max-height:none !important;
  min-height: none;
  margin: 75px 0px 45px !important;
  display: inherit;
  @include viewport(sm){
    margin: 113px 0px 45px !important;
  }
  @media (max-width: 769){
    padding:20px !important;
  }
  p {
    margin-bottom:0;
    margin-top: 5px;
  }
}
p {
  font-size: 14px;
}



div.topBackground {
  

  &.image,&.white {
    top:0;
    position: relative;
  }
  &.image {
    background: url("/resources/img/cassini-header.jpg") center top;
    background-size: cover !important;
    height:220px !important;
    max-height:none !important;
    @media (min-width: 550px){
      height:340px !important;

    }
    @include viewport(sm){
      height:456px !important;
    }

  }
  &.white {
    z-index: 1;
  }
  
}



/* Table Styling */
.info {
  color:$sblue;
  font-size: 80%;
  display: inline-block;
  width:100%;
}
.table-contain {
  table {
    width: 100%; 
  border-collapse: collapse; 
    .description {
      max-width: 340px;
    }
    width:100%;
    text-align:left;
    th,td {
      padding:15px;
      font-size: 12px;
    }
    th {
      .sort {
        margin-left: 16px;
        cursor: pointer;
      }
    }
    th.case {
      width:12%;
    }
    th.date {
      width:15%;
    }
    th,a {
      color:$sblue;
    }
    th {
      font-family: $heading;
      background:#e7e6e6;
      text-transform: uppercase;
    }
  }
}



.table-contain {

  .wide10 {
    width:10%;
  }

  .wide15 {
    width:15%;
  }

  .wide20 {
    width:20%;
  }

  .se-employee {
    color:$darkgreen;
    font-family: $heading;
    &:after {
      font-family: FontAwesome;
      content: "\f05a";
      margin-left:.5em;
    }
  }
  @media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    
    table {
      td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #E0E0E0; 
      position: relative;
      padding-left: 45%; 
      min-height:20px;
      }
      
      td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 14px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
      }
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Case #"; }
    td:nth-of-type(2):before { content: "Description"; }
    td:nth-of-type(3):before { content: "Date Opened"; }
    td:nth-of-type(4):before { content: "Modified Date"; }
    td:nth-of-type(5):before { content: "Family"; }
    td:nth-of-type(6):before { content: "Status"; }
    tr:nth-of-type(odd) { 
      background: #FAFAFA; 
    }
    table.comments {
      td:nth-of-type(1):before { content: "Date"; }
      td:nth-of-type(2):before { content: "Posted By"; }
      td:nth-of-type(3):before { content: "Comment"; }
    }
    table.case-search{
      td:nth-of-type(1):before { content: "Select"; }
      td:nth-of-type(2):before { content: "Family"; }
      td:nth-of-type(3):before { content: "Product Famly"; }
      td:nth-of-type(4):before { content: "Product Line"; }
      td:nth-of-type(5):before { content: "Business"; }
    }
    table.case-attachments {
      td:nth-of-type(1):before { content: "Actions"; }
      td:nth-of-type(2):before { content: "File Name"; }
      td:nth-of-type(3):before { content: "Created By"; }
      td:nth-of-type(4):before { content: "Size"; }
      td:nth-of-type(5):before { content: "Last Modified"; }
    }
  }
}


.list-inline {
  li {
      margin-bottom: 2.5em;
  }
  @include viewport (sm){

    li {
      width:50%;
      float:left;
    }

  }
  @include viewport(md){
    margin-left:-15px;
    margin-right: -15px;
    li {
      width:auto;
      float:none;
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 0;
    }
  }
  
}

#purchase.modal {
  padding: 25px;
  &.in {
    width:90% !important;
    left:0 !important
  }

    &.fade {
      @include viewport(sm){
      left:50% !important;
      max-width:800px !important;
      margin-left:-400px !important;
      
      }
    }
  
  margin:0 auto;
  border-radius:0;
}


/* Contract Page */

.account-details {
  h3 {
    margin-bottom: 1em;
  }
  div[class*="span"]{
    margin-bottom: 2em;
    @include viewport(sm){
      margin-bottom: 0;
    padding:0 10px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  ul {
    li {
      a {
        color:$primary;
        i {
          color:$sblue;
        }
      }
    }
  }
}

.balance {
  background: $darkgreen;
  text-align: center;
  display: table;
  height:100px;
  width:100%;
  @include viewport(sm){
    height:200px;
  }
  .balance-content {
    text-align: center;
    width:100%;
    display: table-cell;
    vertical-align:middle;
    h1 {
      font-size: 5em;
      @include viewport(md){
        font-size: 7em;
      }
    }
    * {
    text-align: center;
    color:white;
    margin: 0;
    }
  }
  
}

.modal {
  .close {
    font-size: 34px;
  }
}