
/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  margin-bottom: .5em;
}

h1 {

  font-size: 30px;
  font-weight: 400;
  line-height: 1;

  color: $neutral;
}

h3 {
  font-size: 2em;
  color:$sgreen;
  @include viewport(md){
    font-size: 2.5em;
  }
}

h4 {
  margin-bottom: 1em;
}

/* PARAGRAPH */

hr {
  background: #d4d4d4;
  color:#d4d4d4;
  border-color:#d4d4d4;
}


p {
  font-family: $body;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$light;
}

a {
  color:$sblue;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$sblue;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button,button {
    color: #FFFFFF ;
    background: #42B4E6 ;
    padding: 10px 20px;
    border-radius: 3px ;
    display: inline-block;
    font-size: 15px;
    font-family: $body;
    border:0;
}


sup {
  top:0;
}

strong {
  font-family: $heading;
}

textarea {
  font-size: 14px;
}
