// COLOR PALETTE
$primary: #42494c;
$secondary: #142E4A;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$sgreen: #3dcd58;
$darkgreen:#009530;
$sblue: #42B4E6;
$med: 'font-med';
$lig: 'font-lig';
$headers: #626469;

// FONT STACKS
$heading: $med;
$body: $lig;



$light:#626469;

