/* line 1, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 10, ../sass/main.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 17, ../sass/main.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 24, ../sass/main.scss */
section {
  padding: 2em;
}

/* line 29, ../sass/main.scss */
.wrap {
  max-width: 940px;
}
/* line 31, ../sass/main.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 36, ../sass/main.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* line 55, ../sass/main.scss */
.topBackground {
  background-size: cover;
}
